*{
    margin: 0;
    padding: 0;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: chocolate;
}

p:hover {
    color: greenyellow;
}

p code {
    color: brown;
}

h1 {
    color:red;
  }
  